/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */




/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

.main_menu, .page_item_has_children {
	text-transform: uppercase !important;

}

 .main_menu {
	margin-top: -5px !important;
} 



li.page_item {

	text-transform: uppercase !important;

}

.container_wrap_logo {
	height: 110px;
}

.alternate_color, .dark_bg_color, .title_container {

	background-color: #333;
}



.title_container {

	height: 50px !important;
}

.inner-container {
	height: 110px;

}

.container_wrap, .container_wrap_logo {

	border-color: #000 !important;
}

.container .social_bookmarks {
	padding-left: 180px !important;
}

.current-menu-item, .page_item, #menu-item-search {
	margin: 15px 0 0 0;
	text-decoration: none !important;
	font-size: 16px !important;
	font-weight: 600 !important;
}

.current-menu-item a:hover, .page_item a:hover {
	text-decoration: none !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	color: #49beed !important;
}

.current-menu-item a:link, .page_item a:link {
	text-decoration: none !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	color: #666 !important;
}

.current-menu-item a:visited, .page_item a:visited {
	text-decoration: none !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	color: #666 !important;
}

.current-menu-item a:active, .page_item a:active {
	text-decoration: none !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	color: #666 !important;
}


.template-archives, .content, .av-content-full, .alpha, .units {

	background-color: #fff !important;
}

.main-title, .entry-title {
	margin: -20px !important;
}


h1.main-title, h1.entry-title {
	margin: -20px !important;
}


}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}