/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */




/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

.main_menu, .page_item_has_children {

	text-transform: uppercase !important;

}

li.page_item {

	text-transform: uppercase !important;

}

.container_wrap, .container_wrap_logo {
	height: 400px;
}

.alternate_color, .dark_bg_color, .title_container {

	background-color: #333;
}

.title_container {

	height: 50px !important;
}

.inner-container {
	height: 400px;

}

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}