.tribe-events-button:before,
.tribe-events-button:after {
    content: "";
    display: table;
}
.tribe-events-button {
	clear: right;
	float: right;
}
.tribe-events-button:after {
	clear: both;
}

/* contact-form-gfec-form */

.btc-gform .btc-contact-form input[type="submit"] {
	float: right;
	background-color: #21759b;
	color: #fff;
	background-image: none;
	font-size: 11px;

	padding: 6px 9px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	line-height: normal;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	text-decoration: none;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
}

.btc-gform .gform_wrapper {
	max-width: 100%;
}

.btc-gform .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	font-size: 11px;
    font-weight: 700;
}